@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


$principal-font: 'Yanone Kaffeesatz', sans-serif;

$darkest-color: #1a2121;
$lightest-color: #f5f5f5;
$primary-color: #6fc6d1;
$secondary-color: #decf5c;